html, body { 
  background: url("https://66.media.tumblr.com/f3bdb39aee999582b47cff7dcb84e552/tumblr_ofjp91FBYE1tzv1dpo1_500.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


    
    


